html {
    scroll-behavior: smooth;
}

.btn:focus,
input:focus,
select:focus {
    box-shadow: none !important;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item:hover {
    background: #cecece !important;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 350;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 5px rgba(190, 190, 190, 0.5);
    transition: transform .25s ease, opacity 0.1s ease, visibility 0.1s ease;
    background-color: #FFF;
    transform: translateY(-100%);
}

.sticky-header.act-scroll {
    transform: none;
    opacity: 1;
    visibility: visible;
}

a {
    text-decoration: none;
    transition: .5s;
}

a.nav-a {
    font-weight: 800;
    color: black;
}

a.nav-a:hover {
    color: #e87c1e !important;
    letter-spacing: .1rem;
}

.subnav-brand::before,
.subnav-category::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30px;
}

.subnav-brand,
.subnav-category {
    display: none;
    background: #fff;
    top: 50px;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transform: translateX(-50%);
    z-index: 842;
}

.subnav-brand .nav-a,
.subnav-category .nav-a {
    transition: .3s;
}

.subnav-brand .nav-a:hover,
.subnav-category .nav-a:hover {
    padding-left: 10px;
}

.offcanvas-end {
    width: 250px !important;
}

.hover-parent {
    position: relative;
}

.hover-parent img {
    transition: .5s;
}

.hover-child {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease .5s;
}

.hover-parent:hover img {
    transform: scale(1.2);
}

.hover-parent:hover .hover-child {
    top: 70%;
}

.list-cat div a {
    position: relative;
}

.list-cat div:not(:last-child)::after {
    content: '/';
    margin: 0 10px;
}

.list-cat div a::after {
    content: '';
    position: absolute;
    background: orange;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: .3s;
}

.list-cat div a:hover::after {
    width: 100%;
}

.text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wrap-price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.wrapp-swap {
    overflow: hidden;
    height: 32px;
    line-height: 32px;
}

.swap-elements {
    transition: all .2s ease-in-out;
}

.css-price {
    margin-bottom: 0;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
    display: block;
    font-size: 16px;
    animation: animateDown .3s;
}

.price {
    text-decoration: line-through;
    color: #cecece;
    font-size: .75rem;
}

.promotion {
    color: #dd3333;
}

.percent {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background: #e87c1e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: .7rem;
}

.btn-add {
    height: 32px;
    line-height: 32px;
    position: relative;
    animation: animateDown .3s;
}

@keyframes animateDown {
    0% {
        top: -32px;
    }
    100% {
        top: 0;
    }
}

.css-hover-product:hover .css-price,
.css-hover-product:focus .css-price,
.css-hover-product:focus .btn-add,
.css-hover-product:hover .btn-add {
    animation: animateUp .3s;
    top: -32px;
}

@keyframes animateUp {
    0% {
        top: 0;
    }
    100% {
        top: -32px;
    }
}

.nav-scroll-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 350;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 5px rgba(190, 190, 190, 0.5);
    transition: transform .25s ease, opacity 0.1s ease, visibility 0.1s ease;
    background-color: #FFF;
    transform: translateY(-100%);
}

.nav-scroll-top.act-scroll {
    transform: none;
    opacity: 1;
    visibility: visible;
}


/* This line can be removed it was just for display on CodePen: */

.slider-labels {
    margin-top: 10px;
}


/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top .3s;
    transition: left 0.3s, top .3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}


/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Slider size and handle placement;
   */

.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
}


/* Styling;
   */

.noUi-background {
    background: #D6D7D9;
}

.noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 2px;
}


/* Handles and cursors;
   */

.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53, 93, 187, 0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
}


/* Disabled state;
   */

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

.head-filter {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: .2rem;
    position: relative;
}

.head-filter::after {
    content: '';
    position: absolute;
    width: 100px;
    max-width: 50%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background: #cecece;
}

img {
    transition: .5s;
}

.hover-img-product:hover img {
    transform: scale(1.2);
}

.form-check-input {
    margin-top: 0.1em !important;
}

.hover-shadow-lg {
    transition: .3s;
}

.hover-shadow-lg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

li.page-item {
    margin: 0 5px;
}

.page-link {
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

select option:checked {
    background: #78ad49;
    color: #fff
}

.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

.is-form:focus,
.input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 4px 0 0 4px;
}

.is-form.plus {
    border-radius: 0 4px 4px 0;
}

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox-tools:checked+label,
.checkbox-tools:not(:checked)+label {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}

.checkbox-tools:not(:checked)+label {
    background-color: #fff;
    color: #000;
    border: 1px solid #cecece;
}

.checkbox-tools:checked+label {
    background-color: transparent;
    border: 1px solid orange
}

.checkbox-tools:not(:checked)+label:hover {
    border: 1px solid orange
}

.checkbox-tools:checked+label::before,
.checkbox-tools:not(:checked)+label::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(298deg, red, yellow);
    z-index: -1;
}

.custom-radios div {
    display: inline-block;
}

.custom-radios input[type=radio] {
    display: none;
}

.custom-radios input[type=radio]+label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-radios input[type=radio]+label span {
    display: inline-block;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    text-align: center;
    line-height: 44px;
}

.custom-radios input[type=radio]+label span i {
    opacity: 0;
    transition: all 0.3s ease;
}

.custom-radios input[type=radio]:checked+label span i {
    opacity: 1;
}

.fa-solid.fa-circle-check {
    position: relative;
    z-index: 5;
}

.fa-solid.fa-circle-check::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 17px;
    height: 17px;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: 50%;
}

.nav-tab li a {
    position: relative;
    transition: .3s;
}

.nav-tab li a::after {
    height: 3px;
    content: '';
    background: transparent;
    position: absolute;
    width: 0;
    left: 0;
    bottom: -14px;
    transition: .3s;
}

.nav-tab li.nav-tab-active a,
.nav-tab li:hover a {
    color: orange !important;
}

.nav-tab li.nav-tab-active a::after,
.nav-tab li:hover a::after {
    background: #e74c3c;
    width: 100%;
}

.carousel-indicators.custom-carousel {
    position: absolute;
    right: 0;
    top: 300px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    list-style: none;
    flex-wrap: wrap;
}

.carousel-indicators.custom-carousel [data-bs-target] {
    position: relative;
    top: 130px;
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-indent: 0px;
}

.form-upload__preview {
    display: flex;
    width: calc(100% + 15px);
    margin-left: -7.5px;
    justify-content: center;
}
.form-upload__title {
    position: relative;
    margin: 0 auto;
}
.form-upload__control {
    position: absolute;
    width: 0;
    height: 0;
}
.form-upload__item {
    width: 230px;
    margin: 0 7.5px 10px;
    position: relative;
}
.form-upload__item-thumbnail {
    padding-top: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
.form-upload__item-name {
    word-break: break-all;
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}

.form-upload__close {
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    border-radius: 50%;
    border: 5px solid #f4f6f9;
    top: -10px;
    color: red;
    cursor: pointer;
}

.custom-alert-success {
    position: fixed;
    top: 50px;
    right: -10000px;
    animation: fadeLeft 6s;
    animation-delay: .5s;
    z-index: 350;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        right: -10000px;
    }
    10%, 80% {
        opacity: 1;
        right: 10px;
    }
    100% {
        opacity: 0;
        right: 300px;
    }
}

.ajax-message {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 100;
    opacity: 0;
}

.ajax-message.ajax-message-active {
    opacity: 1;
    animation: fadeLeft ease 6s;
}

.name-2 {
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}